/**************************
RESET RULES
  ***************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: antiquewhite;
}

img {
  max-width: 100%;
  position: relative;
}
body {
  background-color: black;
}
.viewport {
  height: 100vh;
  /* max-width: 100vh; */
}
/**************************
FLEX RULES
  ***************************/
.row {
  display: flex;
}
/**************************
HEADER RULES
  ***************************/
.top-cmd {
  position: relative;
}
li {
  display: inline-block;
}
.icon-h2,
.icon-h1 {
  display: inline-block;
  line-height: 1em;
  background-color: #4a4a4a;
  padding: 0 2px;
  margin-bottom: 100px;
}
.top-icon {
  position: absolute;
  right: 2px;
  top: -30px;
  font-size: 10px;
}

/**************************
MAIN RULES
  ***************************/
.card {
  justify-content: space-between;
  flex-basis: calc(100% / 7);
  flex-grow: 5px;
  align-items: center;
  position: relative;
  margin-top: 2px;
}
.mic-name {
  position: absolute;
  bottom: 0px;
  background-color: #616c79;
  font-size: 8px;
}
.contenitore {
  height: 100vh;
  margin: 40px 30px 5px 30px;
}
.s2,
.s3,
.s4,
.s5 {
  padding-top: 5px;
}
/**************************
FOOTER RULES
  ***************************/
.main-footer {
  background-color: #222222;
  position: relative;
}

.f-icons-sx {
  width: 25%;
  background-color: #222222;
  display: flex;
  justify-content: left;
  align-items: center;
}
.f-icons-center {
  width: 50%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-icons-dx {
  width: 25%;
  background-color: #222222;
  display: flex;
  justify-content: end;
  align-items: center;
}
.footer-ico {
  text-align: center;
  font-size: 10px;
}
.footer-text {
  text-align: center;
  font-size: 6px;
}
.col-f {
  padding: 0px 2px;
}
.share-video {
  color: #4ccc05;
}
.exit {
  color: red;
  background-color: #4a4a4a;
  line-height: 3em;
  padding: 0px 10px;
}
footer {
  display: flex;
}
